*{
    margin: 0;
}

html{
    background-color: palevioletred;

}

nav{
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: medium;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 8px 8px -8px black;
    }

nav p{
    color: black;
    height: 20px;
    position: absolute;
    top: 30px;
}

.firstp{
    left: 20px;
}
.secondp{
    left: 100px;
}.thirdp{
     left: 180px;
 }

.logo{
    height: 80px;
    width: 80px;
    background-color: black;
    float: right;
}

.box{
    height: 800px;
    background-color: grey;
    padding: 80px;
    }

.box2{
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: white;
}

.footer{
    height: 80px;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 0;
    border-color: black;
    position: relative;
    bottom: 0;
    }
